<form method="POST" action="/recipes/<%=@recipe.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input name="name" type="text" value="<%=@recipe.name%>"/>
  <input name="ingredients" type="text" value="<%=@recipe.ingredients%>"/>
  <input name="cook_time" type="text" value="<%=@recipe.cook_time%>"/>
  <button id="submit" type="submit">Edit</button
</form>
